■命名規約
　1.共通
　　・できる限りローマ字ではなく英語を使う
　　・英語では表現できないものにはローマ字を用いてもいい
　2.変数名
　　・小文字で始める
　　・基本的に1単語のみで完結させる
　　・2単語以上を用いる場合、2単語目の先頭文字は大文字にする
　　・boolean型以外は名詞にする
　　・boolean型の場合はis + 形容詞にする
　　[例] book, isEmpty
　3.定数名
　　・全て大文字にする
　　・単語と単語の区切りには_を用いる
　　[例] CASE_ONE
　4.メソッド名
　　・小文字で始める
　　・2単語目の先頭文字は大文字にする
　　[例] getPosition
　5.クラス・インターフェース名
　　・大文字で始める
　　・2単語目以降の先頭文字は大文字にする
    [例] Car
　6.ループ変数名
　　・文字数は1文字とする
　　・iやjなど、慣用的なものを付ける
　　[例] i, j
　7.名前空間名
　　・全て小文字にする
　　・全て名詞を用いる
　　[例] caretposition
　8.コントロール名
　　・小文字で始める
　　・大文字で区切る
　　・コントロール部品の略称 + 用途で名前を付ける
　　[例] txtName, lblOption
■コーディングスタイル
　1.インデント
　　・インデント後の文が、インデント前の文に従属することを示す
　　・タブによって表す
　　[例] if (x > 0)
　　     {
　　         x - 1;
　　     }
　2.中かっこ
　　・制御文やメソッドの範囲の定義に用いる
　　・改行後に始める
　　・範囲内に存在すする文が1行のみの場合でも、省略せずに使用する
　　[例] public Book
　　     {
　　     }
　3.小かっこ
　　・制御文に用いる場合、条件式との間に半角スペースを1つ挟む
　　・メソッドに用いる場合、引数との間にはスペースを挟まない
　　・演算子多重定義に用いる場合、外側のものとの間に半角スペースを1つ挟む
　　[例] while (x > 0), setNumber(int n), if ( (2 * 10) + (3 * 4) )
　4.引数
　　引数が複数ある場合、区切りのカンマの後に半角スペースを1つ挟む
　　[例] getAction(int x, int y)
　5.演算子
　　・演算子の前後には半角スペースを1つ挟む
　　[例] 1 + 1
■コメント
　・コメントの記述には//を用いる
　・変数には1つ1つに必ずコメントを付ける
　・ある程度の処理のまとまりにもコメントを付ける
　[例] int book //本
　     //データが空でない間ループ
　     while (data != null)
　     {
　     }
■その他
　・上記の規約に反する記述が必要になった場合、必ず報告する
