■命名規約
　1.共通
　　・できる限りローマ字ではなく英語を使う
　　・英語では表現できないものにはローマ字を用いてもいい
	（分からない言葉が出てきたら必ず報告すること）
　2.変数名
　　・小文字で始める
　　・基本的に1単語のみで完結させる
　　・2単語以上を用いる場合、2単語目の先頭文字は大文字にする
　　・boolean型以外は名詞にする
　　・boolean型の場合はis + 形容詞か名詞 + Flagにする
　　[例] book, isEmpty, goFlag
　3.定数名
　　・全て大文字にする
　　・単語と単語の区切りには_を用いる
　　[例] CASE_ONE
　4.メソッド名
　　・小文字で始める
　　・2単語目の先頭文字は大文字にする
　　[例] getPosition
　5.クラス・インターフェース名
　　・大文字で始める
　　・2単語目以降の先頭文字は大文字にする
    [例] Car
　6.ループ変数名
　　・文字数は1文字とする
　　・iやjなど、慣用的なものを付ける
　　[例] i, j
　7.名前空間名
　　・全て小文字にする
　　・全て名詞を用いる
　　[例] caretposition
　8.コントロール名
　　・小文字で始める
　　・大文字で区切る
　　・コントロール部品の略称 + 用途で名前を付ける
　　[例] txtName, lblOption
　　・コントロールの略称一覧
　　	Button		bt
　　	CheckBox	chb
　　	ComboBox	cb
　　	Label		lbl
　　	NotifyIcon	ni
　　	RadioButton	rb
　　	TextBox		tb
　　	GroupBox	gb
　　	Panel		pn
　　	TabControl	tc
　9.イベントハンドラ名
　　・コントロール名 + _ + 動作
　　[例] txtName_Click
　10.その他
　　・規定化されている一連の処理の変数は固定とする。
　	 OleDbConnection ocn = new OleDbConnection(
         @"Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\test.accdb");
         OleDbCommand ocmd = new OleDbCommand();
       　 OleDbDataAdapter oda = new OleDbDataAdapter();
  11.インスタンス名
    ・インスタンスを作るときに決める変数名は小文字でフルネームにする
    [例]Options options = new Options();       　 
■コーディングスタイル
　1.インデント
　　・インデント後の文が、インデント前の文に従属することを示す
　　・タブによって表す
　　[例] if (x > 0)
　　     {
　　         x - 1;
　　     }
　2.中かっこ
　　・制御文やメソッドの範囲の定義に用いる
　　・改行後に始める
　　・範囲内に存在すする文が1行のみの場合でも、省略せずに使用する
　　[例] public Book
　　     {
　　         private int number;
　　     }
　3.小かっこ
　　・制御文に用いる場合、条件式との間に半角スペースを1つ挟む
　　・メソッドに用いる場合、引数との間にはスペースを挟まない
　　・演算子多重定義に用いる場合、外側のものとの間に半角スペースを1つ挟む
　　[例] while (x > 0), setNumber(int n), if ( (2 * 10) + (3 * 4) )
　4.引数
　　引数が複数ある場合、区切りのカンマの後に半角スペースを1つ挟む
　　[例] getAction(int x, int y)
　5.演算子
　　・演算子の前後には半角スペースを1つ挟む
　　[例] 1 + 1
　6.制御文
　　・定数と変数を比較する場合、左辺に変数を書く
　7.region(リギオン)
　　・
■コメント
　・コメントの記述には//を用いる
　・変数には1つ1つに必ずコメントを付ける
　・ある程度の処理のまとまりにもコメントを付ける
　・//の後ろには半角スペースを入れる
　[例] int book // 本
　     //データが空でない間ループ
　     while (data != null)
　     {
　     }
■その他
　・上記の規約に反する記述が必要になった場合、必ず報告する
